{% extends 'base.html.twig' %}

{% block title %} Shop {% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            text-align: center;
            margin-top: 70px;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px
        }

        #register_button {
            margin-left: 5px;
        }
    </style>

    <div class="example-wrapper animated bounce" id="about">
        <h2>{% trans %}This is our company{% endtrans %}</h2>
        <p>Lorem ipsum dolor sit amet, duo zril antiopam ea, aeque noluisse ius ea. At pri delectus gloriatur intellegam, verear expetendis mea et. Utinam delenit nam at. Est an periculis salutatus mediocritatem. Mea tempor numquam conclusionemque et.

            Mei esse feugiat ea. Vide nulla aliquando ad has, laudem iriure mei an. Deleniti persequeris definitionem at nam, ut mel dicit populo persequeris. Lobortis facilisis complectitur no pri, sea quis delenit in. Dicit ludus id has, id sea appetere constituam conclusionemque.

            Sed in unum sadipscing liberavisse. Bonorum epicuri appareat per ut, at elitr salutatus persequeris mei. Delicata necessitatibus quo ut, ut enim euismod iudicabit quo. An mucius suscipit qui. Cu est propriae laboramus.

            Mea causae adipisci cu. His an recteque consequuntur, te vidisse efficiendi contentiones duo, dolorum partiendo vel in. Et essent nonumes lobortis pri, qui id integre euripidis, te placerat convenire facilisis pro. Sit no meis patrioque, ex inimicus delicatissimi pri. Suas labitur eloquentiam te has, ne porro efficiantur usu. At nec nibh utroque, sed ex augue indoctum facilisis. Vis error invidunt no, expetendis persequeris sed no, ne mollis animal nusquam mea.

            Sit cu iudico consulatu vulputate, et liber volumus per. Ex eos lucilius voluptaria. Et cum vide aeque, ei deserunt interesset cum. Ius ut illum minimum, eos atqui referrentur ut.</p>
    </div>
{% endblock %}